body {
}
/*NAVBAR REDO 4*/

nav#navvy.navbar.navbar-static-top {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #474E5D;
}
#navvy a {
    color: white;
}
    #navvy a:hover {
        background: none;
    }

/*button thing*/
button.navbar-toggle {
    border: 1px solid #474E5D;
}

span.icon-bar {
    border: 1px solid #474E5D;
}


/*/*NAVBAR AGAIN*/
/*.nav {
    background-color: #474E5D;
}

#logoNav a {
    background-color: #474E5D;
    }
*/


/*NAVBAR*/
/*#logoNav{
    background-color: #474E5D;
}*/


/*JUMBOTRON*/
#picture.jumbotron {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 348px;
    color: white;
    
    font-size: 200px;
    text-align:center;
}

.otherPic {
    background-size: cover;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 400px;
}

.locTitle {
    font-size: 26px;

}

/*GREENLAND*/
#greenlandText {
    margin: 0px 0px 0px 0px;
    padding: 120px 0px 0px 20px;
    height: 348px;
}

.picGreen {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
    height: 300px;
}

.rowGreen {
    color: #474E5D;
}

/*MODERN*/
#modernText {
    margin: 0px 0px 0px 0px;
    padding: 120px 0px 0px 0px;
    height: 348px;
    background-color: #474E5D;
}

#picMod {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
    height: 300px;
    background-color: #474E5D;
    color: white;
}

.modernRow {
    background-color: #474E5D;
    color: white;
}

.buttonMod {
    color: #474E5D;
}

/*PLAINS*/
#plainsText {
    margin: 0px 0px 0px 0px;
    padding: 120px 0px 0px 20px;
    height: 348px;
}

#picPlains {
    margin: 0px 0px 0px 0px;
    padding: 40px 0px 0px 0px;
    height: 300px;
    
}

.rowPlains {
    color:#474E5D;
}

/*rgb(71,78,93)*/

/*LOCATION BAR*/
#loc.jumbotron {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
    background-color: #474E5D;
    color: white;
    text-align:center; 
    background-color: none;
}

.grid {
    margin: 80px 0px 80px 0px;
}

/*EACH CELL WITH PICS*/
.row1, .row2, .row3 {
    height: 400px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    border-width: 0px;
    text-align:center;
    color:antiquewhite;
    font-size: 28px;
}

.buttonBig {
   background-color: rgba(71,78,93, 0.75);
   border: none;
   padding: 20px 15px 20px 15px; 
   color: white;
   margin: 0px 100px 0px 100px;
}

.buttonSmall {
   background-color: rgba(71,78,93, 0.75);
   border: none;
   padding: 10px 10px 10px 10px; 
   
   font-size: 16px;
      color: white;
}

#cell1 {
    background-image: url('images/3b-348x348.jpg');
    background-size:cover;
    height: 400px;
    padding: 150px 0px 0px 0px;
    
}

#cell2 {
    padding: 20px 0px 0px 0px;
    color: #474E5D;
}

.occasion {
    font-size: 14px;
}

#cell3 {
    background-image: url('images/42-348x348.jpg');
    background-size: cover;
    height: 400px;
    padding: 150px 0px 150px 0px;
}

#cell4 {
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: #474E5D;
}

#cell5 {
    background-image: url('images/314-348x348.jpg');
    background-size: cover;
    height: 400px;
    padding: 150px 0px 0px 0px;
}

#cell6 {
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: #474E5D;
}


#cell7 {
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 150px 0px 0px 0px;
}

#cell8 {
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    color: #474E5D;
}

#cell9 {
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
    background-size: cover;
    height: 400px;
    text-align: center;
    padding: 150px 0px 0px 0px;
}

.carousel-inner {
    height: 220px;
    text-align: center;
    padding: 80px;
}